<template>
    <div class="my-2 mx-2 hover:opacity-90">
        <div class="text-center relative bg-white shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
                <div
                    class="text-black text-center items-center justify-center font-bold text-2xl"
                >
                    16
                </div>
                <h6
                    class="mt-5 text-xl font-semibold text-slate-900 break-words hover:text-slate-300"
                >
                    Jumlah Pegawai
                </h6>
            </div>
        </div>
    </div>
</template>
