<script>
import Unor16 from "@/components/Depan/Unor/Detail/Unor16.vue";
export default {
    components: {
        Unor16,
    },
    props: {
        data: {
            type: Object,
            default: null,
        },
    },
};
</script>

<template>
    <div class="mt-10">
        <Unor16 v-if="data.id == 16" />
    </div>
</template>
