<script></script>

<template>
    <main>
        <div>
            <h1>{{ $store.state.conter }}</h1>
            <div>
                <button
                    :disabled="true"
                    class="py-2 bg-emerald-400 text-neutral-50 disabled:opacity-50 rounded px-4"
                >
                    Testing telwin
                </button>
                <button
                    :disabled="true"
                    class="py-2 bg-emerald-200 hover:bg-emerald-800 text-black disabled:opacity-50 hover:text-white rounded px-4"
                >
                    Testing telwin
                </button>
                <button
                    :disabled="true"
                    class="py-2 bg-red-200 hover:bg-red-800 text-black disabled:opacity-50 hover:text-white rounded px-4"
                >
                    Testing telwin
                </button>
            </div>
        </div>
    </main>
</template>
