<script>
import Group from "@/components/Depan/Grup.vue";
import { useLoadGrupsPublic } from "@/store/fire/grup.js";
import TableAplikasi from "@/store/fire/aplikasi.js";
import TableUnor from "@/store/sqlLite/unor.js";
import { storage } from "@/store/cache1";
import Chache from "@/store/cache1";
import ModalAplikasi from "@/components/Modal/ModalAplikasi.vue";
import ModalIntegrasi from "@/components/Modal/ModalIntegrasi.vue";
import { isLoading } from "@/store/reactive.js";
import Slaider from "@/components/Slaider/Index.vue";

export default {
    setup() {
        return { storage };
    },
    components: {
        Group,
        ModalAplikasi,
        ModalIntegrasi,
        Slaider,
    },
    data() {
        return {
            dataGrups: [],
            dataAplikasis: [],
            dataIntegrasis: [],
        };
    },
    mounted() {
        this.getData();
    },
    methods: {
        async openModalPortal(data) {
            isLoading.value = true;
            this.dataIntegrasis = [];
            const dataItegrasis = await TableUnor.getAll();
            this.dataIntegrasis = dataItegrasis;
            this.$refs.trigerModal2.toggleModal(data);
            isLoading.value = false;
        },
        async openModal(data) {
            isLoading.value = true;
            this.dataAplikasis = [];
            try {
                const dataAplikasis = await TableAplikasi.useLoadByGrupPublic(
                    data.id
                );
                this.dataAplikasis = dataAplikasis;
                this.$refs.trigerModal.toggleModal(data);
                isLoading.value = false;
            } catch (error) {
                isLoading.value = false;
                this.$wkToast(error, {
                    className: "wk-alert",
                });
            }
        },
        getData() {
            this.dataGrups = [];
            isLoading.value = true;
            const dataSemetra = Chache.get("dataGrups");

            if (dataSemetra) {
                this.dataGrups = dataSemetra;
                isLoading.value = false;
                return false;
            }
            return this.getGrup();
        },
        async getGrup() {
            isLoading.value = true;
            try {
                const grups = await useLoadGrupsPublic();
                this.dataGrups = grups;
                Chache.set("dataGrups", grups);
                isLoading.value = false;
            } catch (error) {
                isLoading.value = false;
            }
        },
    },
};
</script>
<template>
    <div class="">
        <main>
            <div
                class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
            >
                <div
                    class="absolute top-0 w-full h-full bg-top bg-cover"
                    :style="`background-image: url('${$store.getters['setting/data'].link_background}')`"
                >
                    <span
                        id="blackOverlay"
                        class="w-full h-full absolute opacity-75 bg-black"
                    ></span>
                </div>
                <div class="container relative mx-auto">
                    <div class="items-center flex flex-wrap">
                        <div
                            class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center"
                        >
                            <div class="pr-12">
                                <h4 class="text-white font-semibold text-3xl">
                                    Selamat Datang Di
                                </h4>
                                <h1 class="text-white font-semibold text-5xl">
                                    {{ $store.getters["setting/data"].judul }}
                                </h1>
                                <p class="mt-4 text-lg text-blueGray-200 pb-5">
                                    {{
                                        $store.getters["setting/data"].sub_judul
                                    }}
                                </p>
                                <button
                                    @click="getData"
                                    class="btn-success text-lg"
                                    type="button"
                                >
                                    Telusuri
                                    <i class="fas fa-arrow-circle-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
                    style="transform: translateZ(0)"
                >
                    <svg
                        class="absolute bottom-0 overflow-hidden"
                        xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="none"
                        version="1.1"
                        viewBox="0 0 2560 100"
                        x="0"
                        y="0"
                    >
                        <polygon
                            class="text-blueGray-200 fill-current"
                            points="2560 0 2560 100 0 100"
                        ></polygon>
                    </svg>
                </div>
            </div>

            <section class="pb-20 bg-blueGray-200 -mt-24">
                <div class="container mx-auto px-4">
                    <div
                        class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4"
                    >
                        <Group
                            :data="{
                                name: 'Portal Integrasi',
                                logo: 'fas fa-project-diagram',
                                color_logo: 'bg-slate-500',
                            }"
                            :key="`dataPortal`"
                            @get-data="openModalPortal"
                        />
                        <Group
                            v-for="(dataGrup, key) in dataGrups"
                            :key="`dataGrup${key}`"
                            :data="dataGrup"
                            @get-data="openModal"
                        />
                    </div>
                </div>
            </section>

            <section class="pb-20 relative block bg-blueGray-800">
                <div class="p-10">
                    <Slaider />
                </div>
                <div
                    class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
                    style="transform: translateZ(0)"
                >
                    <svg
                        class="absolute bottom-0 overflow-hidden"
                        xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="none"
                        version="1.1"
                        viewBox="0 0 2560 100"
                        x="0"
                        y="0"
                    >
                        <polygon
                            class="text-blueGray-800 fill-current"
                            points="2560 0 2560 100 0 100"
                        ></polygon>
                    </svg>
                </div>
            </section>
        </main>
    </div>
    <teleport to="#teleportasi">
        <ModalIntegrasi ref="trigerModal2" :datas="dataIntegrasis" />
        <ModalAplikasi ref="trigerModal" :datas="dataAplikasis" />
    </teleport>
    <teleport to="#teleportasi2"> </teleport>
</template>
