<script>
import "vue3-carousel/dist/carousel.css";
import { Carousel, Navigation, Slide, Pagination } from "vue3-carousel";
export default {
    components: {
        Carousel,
        Navigation,
        Slide,
        Pagination,
    },
    data() {
        return {
            datas: [
                {
                    img: "https://images.unsplash.com/photo-1621118209138-de12f6a48d5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1599676937922-633deaad50de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1629786157978-e5a5a60522b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1628000294467-5df143f6bae4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1634671813653-c817a18c2398?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1582428525991-d02a1a3f738f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1627967464841-6b32176ddbe8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1541633650519-cb5ae9c482db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1645696301019-35adcc18fc21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1929&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1554369525-2965d6ed2c64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1625111381856-5cdedf9ae7a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
                },
                {
                    img: "https://images.unsplash.com/photo-1605852967399-59aaa3e7ef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80",
                },
            ],
        };
    },
};
</script>

<template>
    <!-- :autoplay="3500" -->
    <Carousel :autoplay="3500" :itemsToShow="3.65" :wrapAround="true">
        <Slide v-for="(data, key) in datas" :key="key">
            <div class="carousel__item">
                <div
                    class="rounded-lg bg-cover bg-center"
                    :style="`background-image : url('${data.img}');height: 180px;width: 353px;`"
                ></div>
            </div>
        </Slide>

        <template #addons>
            <Navigation />
            <Pagination />
        </template>
    </Carousel>
</template>
<style scoped>
.carousel__slide > .carousel__item {
    transform: scale(1);
    opacity: 0.5;
    transition: 0.5s;
}
.carousel__slide--visible > .carousel__item {
    opacity: 1;
    transform: rotateY(0);
}
.carousel__slide--next > .carousel__item {
    transform: scale(0.9) translate(-10px);
}
.carousel__slide--prev > .carousel__item {
    transform: scale(0.9) translate(10px);
}
.carousel__slide--active > .carousel__item {
    transform: scale(1.1);
}
</style>
