<script>
import { isLoading } from "@/store/reactive.js";
import Aplikasi from "@/components/Depan/Aplikasi.vue";
export default {
    name: "modal-aplikasi",
    setup() {
        return { isLoading };
    },
    components: {
        Aplikasi,
    },
    props: {
        datas: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            showModal: false,
            title: "",
        };
    },
    methods: {
        toggleModal(toggleModal = null) {
            if (toggleModal) {
                this.title = toggleModal.name;
            }
            this.showModal = !this.showModal;
        },
    },
};
</script>
<template>
    <div>
        <div v-if="showModal" class="modal modal-full">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--header-->
                    <div class="modal-header">
                        <h6 class="text-blueGray-700 text-xl font-bold">
                            {{ title }}
                        </h6>
                        <button
                            class="btn-danger-sm"
                            :disabled="isLoading"
                            type="button"
                            @click="toggleModal()"
                        >
                            <span> × </span>
                        </button>
                    </div>
                    <!--body-->
                    <div class="modal-body">
                        <div class="container mx-auto px-4">
                            <div
                                class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4"
                            >
                                <Aplikasi
                                    v-for="(data, key) in datas"
                                    :key="`aplikasi${key}`"
                                    :data="data"
                                />
                                <h1></h1>
                            </div>
                        </div>
                    </div>
                    <!--footer-->
                    <div class="modal-footer">
                        <div class="p-2">
                            <button
                                @click="toggleModal()"
                                class="btn-danger"
                                :disabled="isLoading"
                                type="button"
                            >
                                Keluar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
