<script>
import { isLoading } from "@/store/reactive.js";
import Unor from "@/components/Depan/Unor.vue";
import UnorDetail from "@/components/Depan/Unor/UnorDetail.vue";
export default {
    name: "modal-Unor",

    setup() {
        return { isLoading };
    },
    components: {
        Unor,
        UnorDetail,
    },
    props: {
        datas: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            showModal: false,
            title: "",
            title1: "",
            title2: "",
            switchData: true,
            dataDetail: null,
        };
    },
    methods: {
        toggleModal(toggleModal = null) {
            if (toggleModal) {
                this.title1 = toggleModal.name;
                this.title = this.title1;
            }
            this.switchData = true;
            this.showModal = !this.showModal;
        },
        detail(data) {
            isLoading.value = true;
            setTimeout(() => {
                this.title2 = data.name;
                this.title = `${this.title1} > ${this.title2}`;
                this.dataDetail = data;
                this.switchData = false;
                isLoading.value = false;
            }, 2000);
        },
        closeDetail() {
            isLoading.value = true;
            this.title = `${this.title1}`;
            this.dataDetail = null;
            this.switchData = true;
            isLoading.value = false;
        },
    },
};
</script>
<template>
    <div>
        <div v-if="showModal" class="modal modal-full">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--header-->
                    <div class="modal-header">
                        <h6 class="text-blueGray-700 text-xl font-bold">
                            {{ title }}
                        </h6>
                        <button
                            class="btn-danger-sm"
                            :disabled="isLoading"
                            type="button"
                            @click="toggleModal()"
                        >
                            <span> × </span>
                        </button>
                    </div>
                    <!--body-->
                    <div class="modal-body">
                        <div class="container mx-auto">
                            <div
                                v-if="switchData"
                                class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4"
                            >
                                <Unor
                                    v-for="data in datas"
                                    :key="data.id"
                                    :data="data"
                                    @buka-portal="detail"
                                />
                                <h1></h1>
                            </div>
                            <div v-if="!switchData" class="">
                                <button
                                    class="btn-danger-sm"
                                    type="button"
                                    @click="closeDetail"
                                >
                                    Kemabali
                                </button>
                                <hr />
                                <div
                                    class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4"
                                >
                                    <UnorDetail :data="dataDetail" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--footer-->
                    <div class="modal-footer">
                        <div class="p-2">
                            <button
                                @click="toggleModal()"
                                class="btn-danger"
                                :disabled="isLoading"
                                type="button"
                            >
                                Keluar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
