<template>
    <footer class="block py-4">
        <div class="container mx-auto px-4">
            <hr class="mb-4 border-b-1 border-blueGray-200" />
            <div
                class="flex flex-wrap items-center md:justify-between justify-center"
            >
                <div class="w-full md:w-4/12 px-4">
                    <div
                        class="text-sm text-blueGray-500 font-semibold py-1 text-center md:text-left"
                    >
                        Copyright © {{ date }}
                        <a
                            href="https://www.creative-tim.com?ref=vn-footer-admin"
                            class="text-blueGray-500 hover:text-blueGray-700 text-sm font-semibold py-1"
                        >
                            {{ nameTim }}
                        </a>
                    </div>
                </div>
                <div class="w-full md:w-8/12 px-4">
                    <ul
                        class="flex flex-wrap list-none md:justify-end justify-center"
                    >
                        <li
                            v-for="(dataSosmed, key) in $store.getters[
                                'setting/data'
                            ].sosial_media"
                            :key="`keySosmed${key}`"
                        >
                            <a
                                :href="dataSosmed.link"
                                target="_blank"
                                :title="dataSosmed.nama"
                                class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3"
                            >
                                <i
                                    class="text-blueGray-400 hover:text-blueGray-800 text-lg font-semibold block"
                                    :class="dataSosmed.logo"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
export default {
    data() {
        return {
            date: new Date().getFullYear(),
            nameTim: this.$store.getters["setting/data"].judul,
        };
    },
};
</script>
