<script>
export default {
    props: {
        data: {
            type: Object,
            default: null,
        },
    },
    methods: {
        bukaPortal(data) {
            if (!data.status) {
                return false;
            }
            this.$emit("buka-portal", data);
        },
    },
};
</script>
<template>
    <div class="my-2 mx-2">
        <a href="#" @click="bukaPortal(data)">
            <div
                class="text-center relative shadow-lg rounded-lg bg-cover bg-center"
                :class="data.status ? 'hover:opacity-70' : 'opacity-30'"
                :style="`background-image: url('${data.image_name}');`"
            >
                <div
                    class="ribbon-two"
                    :class="
                        data.status ? 'ribbon-two-success' : 'ribbon-two-danger'
                    "
                >
                    <span>{{ data.keterangan }}</span>
                </div>
                <div class="px-4 py-5 flex-auto">
                    <div
                        class="mt-20 bg-slate-800 rounded backdrop-opacity-10 space-y-1 mx-auto"
                    >
                        <a
                            :title="data.name"
                            href="#"
                            @click="bukaPortal(data)"
                            class="text-xl font-semibold text-white break-words hover:text-slate-300"
                        >
                            {{ data.name }}
                        </a>
                        <blockquote>
                            <p
                                class="p-1 text-sm font-medium text-slate-300 text-center break-words"
                            >
                                <!-- {{ data.keterangan }} -->
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>
