<script setup>
import { RouterLink, RouterView } from "vue-router";
// import HelloWorld from "@/components/HelloWorld.vue";
</script>
<template>
    <div id="app">
        <RouterView />
    </div>
</template>
