.modal {
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.15s linear;
    background: rgba(0, 0, 0, 0.7);
}
.modal-full {
    background: rgba(0, 0, 0, 0.9) !important;
}
.modal-full .modal-dialog {
    padding: 0% 0% !important;
    height: 100% !important;
}
.modal-full .modal-dialog .modal-content {
    height: 100% !important;
}
.modal-full .modal-dialog .modal-content .modal-body {
    height: 100% !important;
    overflow-y: auto !important;
}

.modal-dialog {
    -webkit-transform: translate(0, 2%);
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    padding: 0% 10%;
}

.modal-dialog-sm {
    padding: 0% 30%;
}

.modal-dialog-md {
    padding: 0% 20%;
}

.modal-dialog-lg {
    padding: 0% 10%;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-title {
    cursor: pointer;
    padding: 1rem;
    margin: auto -1rem -1rem -1rem;
    color: #000;
    text-decoration: none;
    opacity: 0.75;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #000;
    text-decoration: none;
    opacity: 0.75;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-footer {
    border-top: 1px solid #eee;
}

.modal-footer,
.modal-header,
.modal-body {
    padding: 10px;
}

/* start label Integrasi  */
.ribbon-two {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 175px;
    height: 175px;
    text-align: right;
}
.ribbon-two-success span {
    background: #31ce77;
}
.ribbon-two-danger span {
    background: #ce3131;
}
.ribbon-two span {
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    display: block;
    -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
    position: absolute;
    top: 40px;
    left: -40px;
    font-weight: 600;
    width: 200px;
}
/* end label Integrasi  */

/* start carousel */
.carousel__pagination-button {
    background-color: rgb(6 78 59 / 1) !important;
}
.carousel__pagination-button--active {
    background-color: rgb(5 150 105 / 1) !important;
}

.carousel__prev,
.carousel__next {
    box-sizing: content-box;
    border: 5px solid white;
}
.carousel__prev,
.carousel__next {
    box-sizing: content-box;
    border: 5px solid white;
}
/* end carousel */
