@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */
/* .btn-success {
    @layer text-white bg-emerald-400 font-bold text-xs px-4 py-2 rounded disabled:opacity-50 mr-2 ml-2;
}

.btn-danger {
    @layer text-white bg-red-400 font-bold text-xs px-4 py-2 rounded disabled:opacity-50 mr-2 ml-2;
}

.btn-danger-sm {
    @layer disabled:opacity-50 text-xs font-semibold py-1 px-2 mr-1 mt-1 mb-1 rounded text-white bg-red-400;
} */