@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-primary {
    @apply bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-lg hover:bg-blue-600 outline-none hover:bg-blue-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}
.btn-success {
    @apply bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-lg hover:bg-emerald-600 outline-none hover:bg-emerald-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}
.btn-danger {
    @apply bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-lg hover:bg-red-600 outline-none hover:bg-red-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}
.btn-warning {
    @apply bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-lg hover:bg-yellow-600 outline-none hover:bg-yellow-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}

.btn-primary-sm {
    @apply bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-2 py-1 rounded shadow hover:shadow-lg hover:bg-blue-600 outline-none hover:bg-blue-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}
.btn-success-sm {
    @apply bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-2 py-1 rounded shadow hover:shadow-lg hover:bg-emerald-600 outline-none hover:bg-emerald-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}
.btn-danger-sm {
    @apply bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-2 py-1 rounded shadow hover:shadow-lg hover:bg-red-600 outline-none hover:bg-red-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}
.btn-warning-sm {
    @apply bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-2 py-1 rounded shadow hover:shadow-lg hover:bg-yellow-600 outline-none hover:bg-yellow-400 focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:opacity-50;
}

.carousel__pagination-button {
    @apply !bg-emerald-900;
}
.carousel__pagination-button--active {
    @apply !bg-emerald-600;
}
/* start label Integrasi  */
.ribbon-box .ribbon-two {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon-box .ribbon-two-success span {
    background: #31ce77;
}

.ribbon-box .ribbon-two span {
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
    position: absolute;
    top: 19px;
    left: -21px;
    font-weight: 600;
}
/* end label Integrasi  */
