<script>
import Loading from "@/components/Loading/Default.vue";
import Navbar from "@/components/Navbars/DepanNavbar.vue";
import Footer from "@/components/Footers/DepanFooter.vue";
import { isLoading } from "@/store/reactive.js";
export default {
    setup() {
        return { isLoading };
    },
    name: "depan-layout",
    components: {
        Navbar,
        Footer,
        Loading,
    },
    async mounted() {
        isLoading.value = true;
        try {
            await this.$store.dispatch("setting/setSettingData");
            setTimeout(() => {
                isLoading.value = false;
            }, 1000);
        } catch (error) {
            isLoading.value = false;
        }
    },
};
</script>
<template>
    <div>
        <Loading />
        <Navbar />
        <router-view />
        <Footer />
    </div>
</template>
