<script>
import Navbar from "@/components/Navbars/IndexNavbar.vue";
import Footer from "@/components/Footers/DepanFooter.vue";
export default {
    name: "depan-layout",

    components: {
        Navbar,
        Footer,
    },
};
</script>
<template>
    <div>
        <Navbar />
        <router-view />
        <Footer />
    </div>
</template>
